<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<!--Cadena de conexion-->
		<add name ="Consultora" connectionString ="server=LAPTOP-CO4UTNHC;Database=BDCONSULTORA;Integrated Security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>